<!doctype html>

<html>
<head>
	<title>Schnip - Cart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/a5skeleton.css" rel="stylesheet">
   
</head>

<body>
	<div class="container">
		<h1>Check Out</h1>
		<h3><a href="index.handlebars">Back</a></h3>
	</div>

</body>
</html>
