<!doctype html>

<html>
<head>
	<title>Schnip Main Screen Wireframe</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/a5screen2.css" rel="stylesheet">
	<script src="js/a5.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

</head>

<body>
		<div class="appbox" align="center">
		
			<!-- TOP -->
			<div class="top_container">
			<img src ="images/screen1_top.jpg" width="348" height="44" alt="Top Screen" usemap="#topmap">
				<map name="topmap">
					
					<!-- SETTINGS DROPDOWN -->
					<div class="dropdown">
						<area shape="rect" coords="8,6,39,39" href="">
							<div class="dropdown-content">
							
									<br>
									
									<form action="/action_page.php">
										<input type="checkbox" name="tooptipon" value=""> Tool tips
									<br>
									<br>
									</form>

									<form action="/action_page.php">
										<input type="checkbox" name="locationon" value=""> Location
									<br>
									<br>
									</form>
			
									<form action="/action_page.php">
										<input type="checkbox" name="Notificationon" value=""> Notifications
									<br>
									<br>
									</form>

									<a href="preferences">Preferences</a>
				
									<a href="addcard">Add Loyalty Card</a>
									
									<a href="/">Sign Out</a>
							</div>
					</div>
				</map>
		</div>
		
		<!-- Location detection -->
		<div>
			<img src ="images/blank.jpg" width="348" height="99">
		</div>
		
		
		<!-- Middle -->
		<div>
			<img src ="images/screen1_mid.jpg" width="348" height="540" alt="Mid Screen1" usemap="#midmap">
			<map name="midmap">
				<area shape="rect" coords="2,2,173,76" href="ralph">
				<area shape="rect" coords="2,80,173,155" href="99ranch">
				<area shape="rect" coords="2,158,173,233" href="walmart">
				<area shape="rect" coords="2,237,173,311" href="sprouts">
				<area shape="rect" coords="2,314,173,389" href="vons">
				<area shape="rect" coords="2,392,173,467" href="costco">
				<area shape="rect" coords="2,470,173,539" href="cvs">
				<area shape="rect" coords="176,2,347,76" href="traderjoes">
				<area shape="rect" coords="176,80,347,155" href="zionmarket">
				<area shape="rect" coords="176,158,347,233" href="albertsons">
				<area shape="rect" coords="176,236,347,311" href="food4less">
				<area shape="rect" coords="176,314,347,389" href="pavillions">
				<area shape="rect" coords="176,392,347,467" href="wholefoods">
				<area shape="rect" coords="176,470,347,539" href="northgate">
			</map>
		</div>
		<!-- Bottom -->
		<div>
			<img src ="images/screen1_bot.jpg" width="348" height="50" alt="Bot Screen1" usemap="#botmap">
			<map name="botmap">
				<area shape="circle" coords="321, 24, 24" href="checkout">
			</map>
		</div>

	</div>
</body>

</html>
